/* ========== Google Fonts ========== */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fff;
}

/* ========== Header ========== */

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: relative;
  max-width: 80px;
  user-select: none;
}

header ul{
  position: relative;
  display: flex;
}

header ul li{
  list-style: none;
}

header ul li a{
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  margin-left: 30px;
}

/* ========== Content ========== */
.content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox{
  position: relative;
  max-width: 600px;
}

.content .textBox h2{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span{
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox a{
  display: inline-block;
  padding: 8px 20px;
  margin-top: 20px;
  background-color: #017143;
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
  letter-spacing: 1px;
  font-weight: 500;
}

.content .imgBox{
  width: 500px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 15px;
}

.content .imgBox img{
  max-width: 290px;
}

/* =========== Thumb =========== */
.thumb{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li{
  display: inline-block;
  margin: 0 20px;
  list-style: none;
  cursor: pointer;
  transition:0.5s;
}

.thumb li:hover{
  transform: translateY(-15px);
}

.thumb li img{
  max-width: 60px;
}

.sci{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.sci li{
  list-style: none;
}

.sci li a{
  display: inline-block;
  margin: 5px 0;
  filter: invert(1);
  transform: scale(0.6);
}

.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #017143;
  clip-path: circle(600px at right 800px);
}

@media screen and (max-width:991px) {
  header{
    padding: 20px;
  }

  header .logo{
    max-width: 60px;
  }
  
  header ul{
    display:none;
  }

  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/menu.png);
    cursor: pointer;
    z-index: 11;
    transition: 0.5s ease-in;
  }

  .toggle.active{
    position: fixed;
    right: 20px;
    background-image:url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  header ul.navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 10;
    transition: 0.5s;
  }

  header ul li a{
    font-size: 1.5em;
    margin: 5px 0;
  }

  section{
    padding:20px 20px 120px;
  }

  .content{
    flex-direction: column;
    margin-top: 100px;
  }

  .content .textBox h2{
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  .content .imgBox{
    max-width: 100%;
    justify-content: center;
  }

  .content .imgBox img{
    max-width: 300px;
  }

  .thumb li img{
    max-width: 40px;
  }

  .content .textBox{
    position: relative;
  }

  .circle{
    clip-path: circle(400px at center bottom);
  }

  .sci{
    background-color: #017143;
    right: 0;
    width: 50px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px ;
  }
    
}
